/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-infinity-scroll-single-post-group {
	border: 1px dashed rgba( 20, 20, 20, 0.25 );
	padding: 1em;

	.block-list-appender.wp-block {
		position: static;
		margin-top: 1em;
	}
}



.single-post-block {
	&__panel {
		&--settings {
			.components-range-control {
				width: 100%;
			}
		}
	}
}